@{
    ViewBag.Title = "Posting";
}

@section scripts {
    <script src=@Url.Content("~/Scripts/ckeditor/ckeditor.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/ckeditor/adapters/jquery.js") type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {

            $("textarea#posting-editor").ckeditor();

        });
    </script>
}

<h2>Posting</h2>

<textarea id="posting-editor" cols="80" rows="50"></textarea>